
#main-menu .nav-bar {
    list-style: none;
}

#main-menu .nav-bar li {
    display: inline-block;
    padding: 0 5px;
    margin-top: 13px;
}

#main-menu .nav-bar li a {
    display: inline-table;
    width: 30px;
    height: 40px;
    text-decoration: none;
    padding-left: 70px;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

.nav-bar .nav-button-rate a {
    background: url(/img/rate.png) no-repeat 0px 0px transparent;

}

.nav-bar .nav-button-rate:hover a {
    background: url(/img/rate1.png) no-repeat 0px 0px transparent;

}

.nav-bar .nav-button-stats a {
    background: url("/img/stats.png") no-repeat 0px 0px transparent;
}

.nav-bar .nav-button-stats:hover a {
    background: url("/img/stats1.png") no-repeat 0px 0px transparent;
}

.nav-bar .nav-button-time a {
    background: url("/img/time.png") no-repeat 0px 0px transparent;
}

.nav-bar .nav-button-time:hover a {
    background: url("/img/time1.png") no-repeat 0px 0px transparent;
}

.nav-bar .nav-button-manage a {
    background: url("/img/manage.png") no-repeat 0px 0px transparent;
}

.nav-bar .nav-button-manage:hover a {
    background: url("/img/manage1.png") no-repeat 0px 0px transparent;
}

.nav-bar .nav-button-settings a {
    background: url("/img/settings.png") no-repeat 0px 0px transparent;
}

.nav-bar .nav-button-settings:hover a {
    background: url("/img/settings1.png") no-repeat 0px 0px transparent;
}

.nav-bar .nav-button-sensor a {
    background: url("/img/sensor.png") no-repeat 0px 0px transparent;
}

.nav-bar .nav-button-sensor:hover a {
    background: url("/img/sensor1.png") no-repeat 0px 0px transparent;
}
