/* */

/*Стили полей ввода */
input[type="text"],
textarea,
textarea.form-control {
    height: 50px;
    margin: 5px;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    width: 296px;
    height: 35px;
}

textarea,
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"]:focus,
textarea:focus,
textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
    color: #888;
}

input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
    color: #888;
}

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
    color: #888;
}

.name {
    display: inline;
}

.surname {
    display: inline;
}

.email {
}

.number-field select {

}

.number {
}

/*Конец стилей полей ввода */

/*Стили кнопок */
#register {
    background-color: #4f82b6;
    border-bottom: 5px solid #365c83;
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 50px;
    outline: none;
    color: aliceblue;
}

#register:hover {
    background-color: #6aadf0;
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 50px;
    outline: none;
}

#register:active {
    background-color: #1a5088;
    outline: none;
}

/*Конец стилей кнопок */

/*Стили регистрации*/
.success {
    margin-left: 10px;
}

.b-popup1 {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.b-popup1 .b-popup-content1 {
    height: 590px;
    width: 700px;
    margin: 20px auto 20px auto;
    background-color: #f1f3f6;
    box-shadow: 0px 0px 10px #000;
}

.clear {
    display: inline-block;
    margin-top: 16px;
    margin-right: 14px;
    float: right;
}

.form-field {
    margin: 30px auto;

}

.brokercheck {
    margin-left: 0px;
}

/*Радио кнопка*/
.radio {
    display: inline;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.radio:checked {
    background: #42c630;
}

/*Конец радио кнопки*/

.brokercheck img {
    display: inline-block;
}

.brokercheck label {
    margin-bottom: 10px;
    display: block;
}

#select {
    width: 297px;
    margin-left: 5px;
}

.top {
    background-color: #34495e;
    border-bottom: 5px solid #243342;
    height: 60px;
    color: aliceblue;
}

.top h1 {
    display: inline-block;
    font-family: "PT Sans";
    font-size: 30px;
    margin-top: 15px;
    margin-left: 45px;
}

.licenseblock .checkbox {
    margin-left: 275px;
}

.form-field .fields img {
    margin-right: 5px;
    display: none;
}

.imgsurname {
}

.imgemail {

}

.captchareg {
    display: block;
    margin: 10px 200px;
}

/* Конец стилей регистрации */

/*Стили формы входа*/
.b-popup2 {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.b-popup2 .b-popup-content2 {
    margin-top: 50px;
}

.form-bg {
    box-shadow: 0px 0px 10px #000;
    height: 450px;
    margin: 0 auto;
    background-color: #f1f3f6;
    padding: 0px;
}

.login-form .dotline {
    display: block;
    height: 1px;
    background-color: firebrick;
    width: 400px;
    margin: 0 auto;
}

.clearlogin {
    display: inline-block;
    float: right;
    margin-right: 13px;
    margin-top: 13px;
}

.login-form p {
    margin-top: 20px;
    text-align: center;
}

.logologin {
    margin: 40px;
    height: 80px;

}

.formslogin {
    width: 350px;
    margin: 0 auto;
}

.emaillogin, .passwordlogin {
    width: 350px;
}

.btn-login {
    display: block;
    margin: 0 auto;
    width: 209px;
    height: 55px;
    margin-top: 15px;
    background-color: #4f82b6;
    border-bottom: 5px solid #365c83;
    outline: none;
    font-family: "PT Sans Bold";
    font-size: 20px;
    color: aliceblue;
}

.btn-login:hover {
    display: block;
    margin: 0 auto;
    width: 209px;
    height: 55px;
    margin-top: 15px;
    background-color: #6aadf0;
    outline: none;

}

.btn-login:active {
    display: block;
    margin: 0 auto;
    width: 209px;
    height: 55px;
    margin-top: 15px;
    background: #1a5088;
    outline: none;

}

.ipcheck {
    text-align: center;
}

.login-form .login-header {
    background-color: #34495e;
    border-bottom: 5px solid #243342;
    padding: 0px;
    height: 40px;
    color: aliceblue;
}

.login-header h2 {
    margin-top: 7px;
    margin-left: 15px;
    display: inline-block;

}

/*Стили формы входа*/
/*Стили формы настроек*/
.b-popup3 {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.b-popup3 .b-popup-content3 {
    height: 255px;
    width: 375px;
    margin: 20px auto 20px auto;
    background-color: #f1f3f6;
    box-shadow: 0px 0px 10px #000;
}

.b-popup3 .settingscontent p {
    margin-top: 12px;
    margin-left: 5px;
}

.b-popup3 .checkboxes .input1 {
    margin-top: 11px;
}

.b-popup3 .checkboxes .input2 {
    margin-top: 7px;
}

.b-popup3 .checkboxes .input3 {
    margin-top: 8px;
}

.b-popup3 .checkboxes .input4 {
    margin-top: 7px;
}

.b-popup3 .checkboxes .input5 {
    margin-top: 9px;
}

.b-popup3 .save {
    display: block;
    height: 35px;
    width: 110px;
    margin: 10px auto;
    background-color: #5d7eb2;
    border-bottom: 5px solid #455c81;
}

.b-popup3 .save a {
    color: aliceblue;
    font-size: 15px;
}

/*Стили кнопок*/

.b-popup3 input[type="checkbox"] {
    position:;
    opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4);

}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
    width: 40px;
    background-position: 0 0;
    background-color: #3b89ec;
    border: 1px solid #0e62cd;
    box-shadow: inset 0 0 0 10px rgba(59, 137, 259, 1);
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
    width: 34px;
    height: 18px;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
    width: 50px;
    height: 25px;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
    background-color: #00e359;
    border: 1px solid rgba(0, 162, 63, 1);
    box-shadow: inset 0 0 0 10px rgba(0, 227, 89, 1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
    width: 16px;
    height: 16px;
    margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(16px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
    width: 23px;
    height: 23px;
    margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63, 1);
}

.b-popup3 .header {
    height: 40px;
    background-color: #3d4a5d;
    border-bottom: 5px solid #2d3643;
}

.b-popup3 .header .clearsettings {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.b-popup3 .header h2 {
    display: inline-block;
    margin: 7px;
    color: aliceblue;
}

.b-popup3 input {
    display: inline-block;
    float: right;
}

.b-popup3 .settingscontent {
    background-color: #fff;
    margin: 10px;
    width: 355px;
    height: 195px;
    border: 1px solid #a9a9a9;
}

/*Стили формы настроек*/
/*Форма сигналов*/
.b-popup4 {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.b-popup4 .b-popup-content4 {
    height: 570px;
    width: 815px;
    margin: 20px auto 20px auto;
    background-color: #f1f3f6;
    box-shadow: 0px 0px 10px #000;
}

.b-popup4 .header {
    height: 40px;
    background-color: #3d4a5d;
    border-bottom: 5px solid #2d3643;
}

.b-popup4 .header h2 {
    display: inline-block;
    margin: 7px;
    color: aliceblue;
}

.b-popup4 .table-invest {
    margin-top: 20px;
}

.b-popup4 .table-invest table, th, td {
    border: 1px solid #dddddd;
    vertical-align: middle;

}

.b-popup4 .table-invest th, td {
    padding: 5px;
    text-align: center;
}

.b-popup4 .table-invest table {
    width: 100%;
}

.b-popup4 .table-invest th {
    height: 50px;
}

.b-popup4 .table-invest table thead {
    background-color: #2ecc71;
    color: aliceblue;
}

.b-popup4 .table-invest .activ {
    background-color: #e8e8e8;
}

/*Конец формы сигналов*/
/*Начало формы статистики*/
.b-popup5 {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.b-popup5 .b-popup-content5 {
    height: 570px;
    width: 1000px;
    margin: 20px auto 20px auto;
    background-color: #f1f3f6;
    box-shadow: 0px 0px 10px #000;
}

.b-popup5 .header {
    height: 40px;
    background-color: #3d4a5d;
    border-bottom: 5px solid #2d3643;
}

.b-popup5 .header h2 {
    display: inline-block;
    margin: 7px;
    color: aliceblue;
}

.b-popup5 .table-static {
    margin-top: 20px;
}

.b-popup5 .table-static table, th, td {
    border: 1px solid #dddddd;
    vertical-align: middle;

}

.b-popup5 .table-static th, td {
    padding: 5px;
    text-align: center;
}

.b-popup5 .table-static table {
    width: 100%;
}

.b-popup5 .table-static th {
    height: 50px;
}

.b-popup5 .table-static table thead {
    background-color: #2ecc71;
    color: #fff;
}

.b-popup5 .table-static .activ {
    background-color: #e8e8e8;
}

/*Конец формы статистики*/