/*Таблицы сброса*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Конец таблиц сброса*/
/*Шрифты*/
@font-face {
    font-family: 'PT Sans'; /* Имя шрифта */
    src: url(/fonts/ptsans.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'PT Sans Bold'; /* Имя шрифта */
    src: url(/fonts/ptsansbold.ttf); /* Путь к файлу со шрифтом */
}

/* Начало стилей*/
.wrapper {

}

body {

    font-family: 'PT Sans', sans-serif;
    background-color: #fff;
}

h1 {
    font-family: 'PT Sans Bold', sans-serif;
    font-size: 15px;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
}

/*Сброс декорации для ссылок*/
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #000;
}

/* Кнопки */
.mainheader .btns {
    text-align: center;
    font-family: 'PT Sans Bold';
    display: inline-block;
    width: 80px;
    height: 60px;
}

.mainheader .btns:hover {
    background-color: #555d77;
}

/*Стили шапки*/

.wrapper .header {
    background-color: #fff;
    height: 60px;
    border: 1px solid #d5d8d8;
    border-top: none;
}

.wrapper .header .mainheader {
    height: 70px;
}

.wrapper .header .mainheader .logo {
    height: 65px;
    width: 120px;
    margin-left: 5px;
    margin-top: 3px;
}

.wrapper .header .rightheader {
    height: 50px;
}

.wrapper .header .rightheader .broker a {
    text-decoration: none;
    color: #fff;
}

.wrapper .header .rightheader .broker a:hover {
    text-decoration: none;
    color: #fff;
}

.wrapper .header .rightheader .broker {

    width: 218px;
    height: 50px;
    background: #31ca74;
    border-bottom: 5px solid #239d58;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 5px;
}

.wrapper .header .rightheader .broker:hover {
    height: 50px;
    background: #45ef8f;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;

}

.wrapper .header .rightheader .broker:active {
    height: 50px;
    background: #27a95f;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;

}

.wrapper .header .rightheader .login {
    margin-top: 3px;
    display: inline-block;
    width: 60px;
    padding-top: 12px;
    height: 50px;
    border-radius: 7px;

}

.wrapper .header .rightheader .login a {
    margin-left: 5px;
    display: block;
    width: 20px;
    height: 30px;
    background-image: url(/img/logon1.png);
}

.wrapper .header .rightheader .login a:hover {
    margin-left: 5px;
    display: block;
    width: 20px;
    height: 30px;
    background-image: url(/img/logonhover1.png);
}

/*Конец стилей шапки*/
/*Стили главного блока*/
.wrapper .bodyer {
}

.wrapper .bodyer .chart {
    padding: 0px;
    height: 610px;
    background-color: #9a9a9a;
}

.wrapper .bodyer .api_broker {
    height: 610px;
    background-color: #34495e;
    color: aliceblue;
    padding: 0px;
}

/*Конец стилей главного блока*/

/*Начало стилей футера*/

.wrapper .bottom {
    height: 50px;
    background-color: #cbcbcb;
    width: 100%

}

/*Конец стилей футера*/
/*Вкладки*/
.tabs {
    display: block;
}

.tabs > div {
    padding-top: 10px;
}

.tabs ul {
    margin: 0px;
    padding: 0px;
}

.tabs ul:after {
    content: "";
    display: block;
    clear: both;
    height: 5px;
    background: #297fba;
    width: 100%;
}

.tabs ul li {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    float: left;
    padding: 10px 15px;
    background: #808b8d;
    color: aliceblue;
    width: 100%;
}

.tabs ul li img {
    margin-right: 10px;
}

.tabs ul li.active, .tabs ul li.active:hover {
    background: #297fba;
    color: #fff;
}

.tabs ul li:hover {
    background: #d6d6d7;
}

.tabs .content {
    padding: 5px;
}

.tabs select {
    margin-top: 5px;
    min-width: 240px;
    color: gray;
}

.tabs label {
    margin-top: 10px;
}

.tabs .optiontype li {
    margin-top: 5px;
    width: 121px;
    text-align: center;
}

.tabs .sec li {
    margin-top: 5px;
    width: 48px;
}

.tabs .blok1, .blok2 {
    display: inline-block;
}

.tabs .blok1 input {
    width: 80px;

}

.tabs .blok1 {
    display: inline-block;
}

.tabs .blok2 {
    margin-top: 12px;
    margin-bottom: 5px;
}

.tabs .btns {

}

.tabs .btns .call {
    width: 100px;
    height: 65px;
    background-color: #e44e40;
    border-bottom: 5px solid #bd4034;
    outline: none;
    color: aliceblue;
    font-size: 20px;
}

.tabs .btns .call:hover {
    background-color: #f4695d;
    outline: none;
}

.tabs .btns .call:active {
    background-color: #bc392e;
    outline: none;
}

.tabs .btns .put {
    width: 100px;
    height: 65px;
    background-color: #a6c640;
    border-bottom: 5px solid #8eab32;
    outline: none;
    color: aliceblue;
    font-size: 20px;

}

.tabs .btns .put:hover {
    background-color: #c5e951;
    outline: none;
}

.tabs .btns .put:active {
    background-color: #8baa21;
    outline: none;
}

.btns img {
    width: 15px;
    margin-right: 5px;
}

.tabs .checkbox {
    display: block;
    margin: 0px 40px;
}

.broker h1 {
    color: #fff;
}

/*Стили сигналов*/


.modal-hide {
    display: none;
    background: rgba(38, 38, 38, 0.41);
}



